<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#️⃣</key>
	<integer>458005</integer>
	<key>0️⃣</key>
	<integer>1389489</integer>
	<key>1️⃣</key>
	<integer>5784902</integer>
	<key>2️⃣</key>
	<integer>5086262</integer>
	<key>3️⃣</key>
	<integer>3673292</integer>
	<key>4️⃣</key>
	<integer>2519654</integer>
	<key>5️⃣</key>
	<integer>2306542</integer>
	<key>6️⃣</key>
	<integer>1127749</integer>
	<key>7️⃣</key>
	<integer>981849</integer>
	<key>8️⃣</key>
	<integer>593893</integer>
	<key>9️⃣</key>
	<integer>583474</integer>
	<key>©</key>
	<integer>20853265</integer>
	<key>®</key>
	<integer>3553125</integer>
	<key>‼️</key>
	<integer>13016814</integer>
	<key>⁉️</key>
	<integer>1372701</integer>
	<key>™</key>
	<integer>3850215</integer>
	<key>ℹ️</key>
	<integer>532240</integer>
	<key>↔️</key>
	<integer>1779054</integer>
	<key>↕️</key>
	<integer>1483890</integer>
	<key>↖️</key>
	<integer>1797997</integer>
	<key>↗️</key>
	<integer>2245273</integer>
	<key>↘️</key>
	<integer>2269916</integer>
	<key>↙️</key>
	<integer>2025673</integer>
	<key>↩️</key>
	<integer>1067869</integer>
	<key>↪️</key>
	<integer>1394200</integer>
	<key>⌚️</key>
	<integer>1776786</integer>
	<key>⌛️</key>
	<integer>632075</integer>
	<key>⏩</key>
	<integer>3102687</integer>
	<key>⏪</key>
	<integer>1072755</integer>
	<key>⏫</key>
	<integer>366507</integer>
	<key>⏬</key>
	<integer>309393</integer>
	<key>⏰</key>
	<integer>1658851</integer>
	<key>⏳</key>
	<integer>844909</integer>
	<key>Ⓜ️</key>
	<integer>1036693</integer>
	<key>▪️</key>
	<integer>4583536</integer>
	<key>▫️</key>
	<integer>442341</integer>
	<key>▶️</key>
	<integer>31173223</integer>
	<key>◀️</key>
	<integer>15315619</integer>
	<key>◻️</key>
	<integer>319244</integer>
	<key>◼️</key>
	<integer>434489</integer>
	<key>◽️</key>
	<integer>172643</integer>
	<key>◾️</key>
	<integer>531174</integer>
	<key>☀️</key>
	<integer>48607400</integer>
	<key>☁️</key>
	<integer>14768427</integer>
	<key>☎️</key>
	<integer>8088965</integer>
	<key>☑️</key>
	<integer>17434055</integer>
	<key>☔️</key>
	<integer>6833415</integer>
	<key>☕️</key>
	<integer>9603804</integer>
	<key>☝️</key>
	<integer>13236513</integer>
	<key>☺️</key>
	<integer>273909306</integer>
	<key>♈️</key>
	<integer>862365</integer>
	<key>♉️</key>
	<integer>717859</integer>
	<key>♊️</key>
	<integer>736369</integer>
	<key>♋️</key>
	<integer>1129388</integer>
	<key>♌️</key>
	<integer>725694</integer>
	<key>♍️</key>
	<integer>625698</integer>
	<key>♎️</key>
	<integer>630389</integer>
	<key>♏️</key>
	<integer>859383</integer>
	<key>♐️</key>
	<integer>778133</integer>
	<key>♑️</key>
	<integer>711259</integer>
	<key>♒️</key>
	<integer>896268</integer>
	<key>♓️</key>
	<integer>707923</integer>
	<key>♠️</key>
	<integer>6254595</integer>
	<key>♣️</key>
	<integer>12496132</integer>
	<key>♥️</key>
	<integer>589802759</integer>
	<key>♦️</key>
	<integer>6523761</integer>
	<key>♨️</key>
	<integer>8703837</integer>
	<key>♻️</key>
	<integer>104430468</integer>
	<key>♿️</key>
	<integer>305074</integer>
	<key>⚓️</key>
	<integer>11327195</integer>
	<key>⚠️</key>
	<integer>4831495</integer>
	<key>⚡️</key>
	<integer>9974889</integer>
	<key>⚪️</key>
	<integer>2245925</integer>
	<key>⚫️</key>
	<integer>2269567</integer>
	<key>⚽️</key>
	<integer>12330698</integer>
	<key>⚾️</key>
	<integer>3068631</integer>
	<key>⛄️</key>
	<integer>6476535</integer>
	<key>⛅️</key>
	<integer>5456939</integer>
	<key>⛎</key>
	<integer>143112</integer>
	<key>⛔️</key>
	<integer>893156</integer>
	<key>⛪️</key>
	<integer>740836</integer>
	<key>⛲️</key>
	<integer>263784</integer>
	<key>⛳️</key>
	<integer>1543172</integer>
	<key>⛵️</key>
	<integer>944400</integer>
	<key>⛺️</key>
	<integer>496317</integer>
	<key>⛽️</key>
	<integer>1773673</integer>
	<key>✂️</key>
	<integer>3311456</integer>
	<key>✅</key>
	<integer>29564948</integer>
	<key>✈️</key>
	<integer>16802976</integer>
	<key>✉️</key>
	<integer>2289519</integer>
	<key>✊</key>
	<integer>25149079</integer>
	<key>✋</key>
	<integer>67771731</integer>
	<key>✌️</key>
	<integer>115131217</integer>
	<key>✏️</key>
	<integer>2753454</integer>
	<key>✒️</key>
	<integer>1014402</integer>
	<key>✔️</key>
	<integer>42930652</integer>
	<key>✖️</key>
	<integer>11972940</integer>
	<key>✨</key>
	<integer>95350832</integer>
	<key>✳️</key>
	<integer>2025028</integer>
	<key>✴️</key>
	<integer>1187942</integer>
	<key>❄️</key>
	<integer>14157949</integer>
	<key>❇️</key>
	<integer>896621</integer>
	<key>❌</key>
	<integer>14556380</integer>
	<key>❎</key>
	<integer>709296</integer>
	<key>❓</key>
	<integer>2799443</integer>
	<key>❔</key>
	<integer>651876</integer>
	<key>❕</key>
	<integer>1611558</integer>
	<key>❗️</key>
	<integer>13271563</integer>
	<key>❤️</key>
	<integer>508447707</integer>
	<key>➕</key>
	<integer>1070072</integer>
	<key>➖</key>
	<integer>847984</integer>
	<key>➗</key>
	<integer>59312</integer>
	<key>➡️</key>
	<integer>25611797</integer>
	<key>➰</key>
	<integer>1205944</integer>
	<key>➿</key>
	<integer>573465</integer>
	<key>⤴️</key>
	<integer>892166</integer>
	<key>⤵️</key>
	<integer>1138164</integer>
	<key>⬅️</key>
	<integer>46776665</integer>
	<key>⬆️</key>
	<integer>1862491</integer>
	<key>⬇️</key>
	<integer>3529208</integer>
	<key>⬛️</key>
	<integer>254360</integer>
	<key>⬜️</key>
	<integer>345132</integer>
	<key>⭐️</key>
	<integer>16436246</integer>
	<key>⭕️</key>
	<integer>5363309</integer>
	<key>〰</key>
	<integer>1223642</integer>
	<key>〽️</key>
	<integer>764777</integer>
	<key>㊗️</key>
	<integer>631372</integer>
	<key>㊙️</key>
	<integer>673718</integer>
	<key>🀄️</key>
	<integer>158319</integer>
	<key>🃏</key>
	<integer>582178</integer>
	<key>🅰</key>
	<integer>1555219</integer>
	<key>🅱</key>
	<integer>1040641</integer>
	<key>🅾</key>
	<integer>957086</integer>
	<key>🅿️</key>
	<integer>413489</integer>
	<key>🆎</key>
	<integer>196947</integer>
	<key>🆑</key>
	<integer>169220</integer>
	<key>🆒</key>
	<integer>3150544</integer>
	<key>🆓</key>
	<integer>1488725</integer>
	<key>🆔</key>
	<integer>713723</integer>
	<key>🆕</key>
	<integer>1763533</integer>
	<key>🆖</key>
	<integer>302028</integer>
	<key>🆗</key>
	<integer>7476047</integer>
	<key>🆘</key>
	<integer>3149666</integer>
	<key>🆙</key>
	<integer>1739926</integer>
	<key>🆚</key>
	<integer>447918</integer>
	<key>🇨🇳</key>
	<integer>194085</integer>
	<key>🇩🇪</key>
	<integer>1096453</integer>
	<key>🇪🇸</key>
	<integer>1230016</integer>
	<key>🇫🇷</key>
	<integer>3074483</integer>
	<key>🇬🇧</key>
	<integer>2225603</integer>
	<key>🇮🇹</key>
	<integer>2425215</integer>
	<key>🇯🇵</key>
	<integer>730948</integer>
	<key>🇰🇷</key>
	<integer>313880</integer>
	<key>🇷🇺</key>
	<integer>593459</integer>
	<key>🇺🇸</key>
	<integer>7069622</integer>
	<key>🈁</key>
	<integer>45505</integer>
	<key>🈂</key>
	<integer>110434</integer>
	<key>🈚️</key>
	<integer>162009</integer>
	<key>🈯️</key>
	<integer>251604</integer>
	<key>🈲</key>
	<integer>154022</integer>
	<key>🈳</key>
	<integer>223110</integer>
	<key>🈴</key>
	<integer>133313</integer>
	<key>🈵</key>
	<integer>151055</integer>
	<key>🈶</key>
	<integer>164295</integer>
	<key>🈷</key>
	<integer>161257</integer>
	<key>🈸</key>
	<integer>163547</integer>
	<key>🈹</key>
	<integer>1662397</integer>
	<key>🈺</key>
	<integer>168172</integer>
	<key>🉐</key>
	<integer>302555</integer>
	<key>🉑</key>
	<integer>124803</integer>
	<key>🌀</key>
	<integer>7629327</integer>
	<key>🌁</key>
	<integer>504054</integer>
	<key>🌂</key>
	<integer>741241</integer>
	<key>🌃</key>
	<integer>2224281</integer>
	<key>🌄</key>
	<integer>1257467</integer>
	<key>🌅</key>
	<integer>2521518</integer>
	<key>🌆</key>
	<integer>737846</integer>
	<key>🌇</key>
	<integer>940549</integer>
	<key>🌈</key>
	<integer>13476217</integer>
	<key>🌉</key>
	<integer>602066</integer>
	<key>🌊</key>
	<integer>6673596</integer>
	<key>🌋</key>
	<integer>1348096</integer>
	<key>🌌</key>
	<integer>4795690</integer>
	<key>🌍</key>
	<integer>12424261</integer>
	<key>🌎</key>
	<integer>11374724</integer>
	<key>🌏</key>
	<integer>6983226</integer>
	<key>🌐</key>
	<integer>710226</integer>
	<key>🌑</key>
	<integer>2501007</integer>
	<key>🌒</key>
	<integer>1633950</integer>
	<key>🌓</key>
	<integer>1606619</integer>
	<key>🌔</key>
	<integer>1546722</integer>
	<key>🌕</key>
	<integer>2398904</integer>
	<key>🌖</key>
	<integer>1440534</integer>
	<key>🌗</key>
	<integer>1477257</integer>
	<key>🌘</key>
	<integer>1493674</integer>
	<key>🌙</key>
	<integer>12473165</integer>
	<key>🌚</key>
	<integer>41611848</integer>
	<key>🌛</key>
	<integer>2493946</integer>
	<key>🌜</key>
	<integer>2370146</integer>
	<key>🌝</key>
	<integer>9268384</integer>
	<key>🌞</key>
	<integer>17782733</integer>
	<key>🌟</key>
	<integer>28838574</integer>
	<key>🌠</key>
	<integer>3170444</integer>
	<key>🌰</key>
	<integer>691664</integer>
	<key>🌱</key>
	<integer>2283251</integer>
	<key>🌲</key>
	<integer>2159643</integer>
	<key>🌳</key>
	<integer>1601873</integer>
	<key>🌴</key>
	<integer>14257689</integer>
	<key>🌵</key>
	<integer>8945675</integer>
	<key>🌷</key>
	<integer>9651611</integer>
	<key>🌸</key>
	<integer>61263516</integer>
	<key>🌹</key>
	<integer>48151754</integer>
	<key>🌺</key>
	<integer>15047587</integer>
	<key>🌻</key>
	<integer>11109048</integer>
	<key>🌼</key>
	<integer>7197949</integer>
	<key>🌽</key>
	<integer>1802834</integer>
	<key>🌾</key>
	<integer>3512627</integer>
	<key>🌿</key>
	<integer>9967079</integer>
	<key>🍀</key>
	<integer>15658355</integer>
	<key>🍁</key>
	<integer>8209415</integer>
	<key>🍂</key>
	<integer>5158735</integer>
	<key>🍃</key>
	<integer>17070189</integer>
	<key>🍄</key>
	<integer>1670117</integer>
	<key>🍅</key>
	<integer>914800</integer>
	<key>🍆</key>
	<integer>5768921</integer>
	<key>🍇</key>
	<integer>3253477</integer>
	<key>🍈</key>
	<integer>432785</integer>
	<key>🍉</key>
	<integer>5225171</integer>
	<key>🍊</key>
	<integer>2636729</integer>
	<key>🍋</key>
	<integer>1605206</integer>
	<key>🍌</key>
	<integer>5727119</integer>
	<key>🍍</key>
	<integer>4201966</integer>
	<key>🍎</key>
	<integer>2784404</integer>
	<key>🍏</key>
	<integer>1229130</integer>
	<key>🍐</key>
	<integer>665039</integer>
	<key>🍑</key>
	<integer>4479795</integer>
	<key>🍒</key>
	<integer>4409235</integer>
	<key>🍓</key>
	<integer>5095706</integer>
	<key>🍔</key>
	<integer>4600510</integer>
	<key>🍕</key>
	<integer>20414425</integer>
	<key>🍖</key>
	<integer>1133559</integer>
	<key>🍗</key>
	<integer>2633806</integer>
	<key>🍘</key>
	<integer>228622</integer>
	<key>🍙</key>
	<integer>520162</integer>
	<key>🍚</key>
	<integer>1438685</integer>
	<key>🍛</key>
	<integer>863070</integer>
	<key>🍜</key>
	<integer>1874837</integer>
	<key>🍝</key>
	<integer>2223828</integer>
	<key>🍞</key>
	<integer>1426096</integer>
	<key>🍟</key>
	<integer>7240692</integer>
	<key>🍠</key>
	<integer>371268</integer>
	<key>🍡</key>
	<integer>750898</integer>
	<key>🍢</key>
	<integer>446809</integer>
	<key>🍣</key>
	<integer>1204297</integer>
	<key>🍤</key>
	<integer>1306274</integer>
	<key>🍥</key>
	<integer>2184871</integer>
	<key>🍦</key>
	<integer>4122823</integer>
	<key>🍧</key>
	<integer>2258417</integer>
	<key>🍨</key>
	<integer>1270297</integer>
	<key>🍩</key>
	<integer>7591770</integer>
	<key>🍪</key>
	<integer>3793972</integer>
	<key>🍫</key>
	<integer>4217086</integer>
	<key>🍬</key>
	<integer>4454153</integer>
	<key>🍭</key>
	<integer>7037974</integer>
	<key>🍮</key>
	<integer>874898</integer>
	<key>🍯</key>
	<integer>952062</integer>
	<key>🍰</key>
	<integer>4065304</integer>
	<key>🍱</key>
	<integer>1750910</integer>
	<key>🍲</key>
	<integer>1061369</integer>
	<key>🍳</key>
	<integer>1603091</integer>
	<key>🍴</key>
	<integer>5579822</integer>
	<key>🍵</key>
	<integer>1393914</integer>
	<key>🍶</key>
	<integer>294541</integer>
	<key>🍷</key>
	<integer>4949915</integer>
	<key>🍸</key>
	<integer>4074370</integer>
	<key>🍹</key>
	<integer>4670557</integer>
	<key>🍺</key>
	<integer>4985731</integer>
	<key>🍻</key>
	<integer>11082704</integer>
	<key>🍼</key>
	<integer>1871190</integer>
	<key>🎀</key>
	<integer>17238687</integer>
	<key>🎁</key>
	<integer>12508915</integer>
	<key>🎂</key>
	<integer>10080951</integer>
	<key>🎃</key>
	<integer>4397508</integer>
	<key>🎄</key>
	<integer>10749888</integer>
	<key>🎅</key>
	<integer>7168425</integer>
	<key>🎆</key>
	<integer>3215731</integer>
	<key>🎇</key>
	<integer>1647151</integer>
	<key>🎈</key>
	<integer>16495349</integer>
	<key>🎉</key>
	<integer>50781035</integer>
	<key>🎊</key>
	<integer>8045482</integer>
	<key>🎋</key>
	<integer>773400</integer>
	<key>🎌</key>
	<integer>895773</integer>
	<key>🎍</key>
	<integer>502259</integer>
	<key>🎎</key>
	<integer>876591</integer>
	<key>🎏</key>
	<integer>450057</integer>
	<key>🎐</key>
	<integer>2340777</integer>
	<key>🎑</key>
	<integer>285533</integer>
	<key>🎒</key>
	<integer>526661</integer>
	<key>🎓</key>
	<integer>2919572</integer>
	<key>🎠</key>
	<integer>441092</integer>
	<key>🎡</key>
	<integer>640665</integer>
	<key>🎢</key>
	<integer>680207</integer>
	<key>🎣</key>
	<integer>1413053</integer>
	<key>🎤</key>
	<integer>14170599</integer>
	<key>🎥</key>
	<integer>11420755</integer>
	<key>🎦</key>
	<integer>310007</integer>
	<key>🎧</key>
	<integer>30833325</integer>
	<key>🎨</key>
	<integer>2101053</integer>
	<key>🎩</key>
	<integer>1864454</integer>
	<key>🎪</key>
	<integer>425580</integer>
	<key>🎫</key>
	<integer>421859</integer>
	<key>🎬</key>
	<integer>5212650</integer>
	<key>🎭</key>
	<integer>1852692</integer>
	<key>🎮</key>
	<integer>4228296</integer>
	<key>🎯</key>
	<integer>2337252</integer>
	<key>🎰</key>
	<integer>249808</integer>
	<key>🎱</key>
	<integer>905552</integer>
	<key>🎲</key>
	<integer>881879</integer>
	<key>🎳</key>
	<integer>675555</integer>
	<key>🎴</key>
	<integer>183845</integer>
	<key>🎵</key>
	<integer>24850662</integer>
	<key>🎶</key>
	<integer>116930423</integer>
	<key>🎷</key>
	<integer>706346</integer>
	<key>🎸</key>
	<integer>6564712</integer>
	<key>🎹</key>
	<integer>951508</integer>
	<key>🎺</key>
	<integer>692884</integer>
	<key>🎻</key>
	<integer>606717</integer>
	<key>🎼</key>
	<integer>5769721</integer>
	<key>🎽</key>
	<integer>324089</integer>
	<key>🎾</key>
	<integer>1699510</integer>
	<key>🎿</key>
	<integer>459484</integer>
	<key>🏀</key>
	<integer>9415313</integer>
	<key>🏁</key>
	<integer>1538504</integer>
	<key>🏂</key>
	<integer>1053502</integer>
	<key>🏃</key>
	<integer>11242513</integer>
	<key>🏄</key>
	<integer>1559064</integer>
	<key>🏆</key>
	<integer>7462369</integer>
	<key>🏇</key>
	<integer>539586</integer>
	<key>🏈</key>
	<integer>6712017</integer>
	<key>🏉</key>
	<integer>647278</integer>
	<key>🏊</key>
	<integer>3105548</integer>
	<key>🏠</key>
	<integer>2066056</integer>
	<key>🏡</key>
	<integer>2682883</integer>
	<key>🏢</key>
	<integer>785752</integer>
	<key>🏣</key>
	<integer>168535</integer>
	<key>🏤</key>
	<integer>488164</integer>
	<key>🏥</key>
	<integer>878942</integer>
	<key>🏦</key>
	<integer>247353</integer>
	<key>🏧</key>
	<integer>320115</integer>
	<key>🏨</key>
	<integer>284887</integer>
	<key>🏩</key>
	<integer>789664</integer>
	<key>🏪</key>
	<integer>1332194</integer>
	<key>🏫</key>
	<integer>776982</integer>
	<key>🏬</key>
	<integer>400374</integer>
	<key>🏭</key>
	<integer>142209</integer>
	<key>🏮</key>
	<integer>258289</integer>
	<key>🏯</key>
	<integer>183723</integer>
	<key>🏰</key>
	<integer>469572</integer>
	<key>🐀</key>
	<integer>625874</integer>
	<key>🐁</key>
	<integer>293938</integer>
	<key>🐂</key>
	<integer>484320</integer>
	<key>🐃</key>
	<integer>335847</integer>
	<key>🐄</key>
	<integer>706155</integer>
	<key>🐅</key>
	<integer>582283</integer>
	<key>🐆</key>
	<integer>402090</integer>
	<key>🐇</key>
	<integer>1177011</integer>
	<key>🐈</key>
	<integer>1044271</integer>
	<key>🐉</key>
	<integer>1099209</integer>
	<key>🐊</key>
	<integer>1128476</integer>
	<key>🐋</key>
	<integer>1685627</integer>
	<key>🐌</key>
	<integer>919538</integer>
	<key>🐍</key>
	<integer>4651831</integer>
	<key>🐎</key>
	<integer>1257943</integer>
	<key>🐏</key>
	<integer>642568</integer>
	<key>🐐</key>
	<integer>1595083</integer>
	<key>🐑</key>
	<integer>1343661</integer>
	<key>🐒</key>
	<integer>3478065</integer>
	<key>🐓</key>
	<integer>1164927</integer>
	<key>🐔</key>
	<integer>1714985</integer>
	<key>🐕</key>
	<integer>983736</integer>
	<key>🐖</key>
	<integer>659008</integer>
	<key>🐗</key>
	<integer>563437</integer>
	<key>🐘</key>
	<integer>2977510</integer>
	<key>🐙</key>
	<integer>4381021</integer>
	<key>🐚</key>
	<integer>1055433</integer>
	<key>🐛</key>
	<integer>1795081</integer>
	<key>🐜</key>
	<integer>947160</integer>
	<key>🐝</key>
	<integer>4679003</integer>
	<key>🐞</key>
	<integer>1219277</integer>
	<key>🐟</key>
	<integer>1972164</integer>
	<key>🐠</key>
	<integer>2263932</integer>
	<key>🐡</key>
	<integer>410575</integer>
	<key>🐢</key>
	<integer>4884565</integer>
	<key>🐣</key>
	<integer>4209144</integer>
	<key>🐤</key>
	<integer>1326001</integer>
	<key>🐥</key>
	<integer>3520585</integer>
	<key>🐦</key>
	<integer>2316018</integer>
	<key>🐧</key>
	<integer>20279287</integer>
	<key>🐨</key>
	<integer>1970909</integer>
	<key>🐩</key>
	<integer>1066315</integer>
	<key>🐪</key>
	<integer>775362</integer>
	<key>🐫</key>
	<integer>938086</integer>
	<key>🐬</key>
	<integer>3906479</integer>
	<key>🐭</key>
	<integer>1545983</integer>
	<key>🐮</key>
	<integer>1791919</integer>
	<key>🐯</key>
	<integer>4717403</integer>
	<key>🐰</key>
	<integer>4382232</integer>
	<key>🐱</key>
	<integer>10648932</integer>
	<key>🐲</key>
	<integer>865796</integer>
	<key>🐳</key>
	<integer>3961755</integer>
	<key>🐴</key>
	<integer>1848737</integer>
	<key>🐵</key>
	<integer>1884645</integer>
	<key>🐶</key>
	<integer>10086652</integer>
	<key>🐷</key>
	<integer>6477362</integer>
	<key>🐸</key>
	<integer>4582053</integer>
	<key>🐹</key>
	<integer>1149091</integer>
	<key>🐺</key>
	<integer>1642503</integer>
	<key>🐻</key>
	<integer>4384325</integer>
	<key>🐼</key>
	<integer>6023557</integer>
	<key>🐽</key>
	<integer>1975091</integer>
	<key>🐾</key>
	<integer>5239973</integer>
	<key>👀</key>
	<integer>106035818</integer>
	<key>👂</key>
	<integer>2013305</integer>
	<key>👃</key>
	<integer>2125020</integer>
	<key>👄</key>
	<integer>6341052</integer>
	<key>👅</key>
	<integer>17397211</integer>
	<key>👆</key>
	<integer>10085619</integer>
	<key>👇</key>
	<integer>20142807</integer>
	<key>👈</key>
	<integer>44700053</integer>
	<key>👉</key>
	<integer>63958189</integer>
	<key>👊</key>
	<integer>52505513</integer>
	<key>👋</key>
	<integer>41462057</integer>
	<key>👌</key>
	<integer>259491791</integer>
	<key>👍</key>
	<integer>137212000</integer>
	<key>👎</key>
	<integer>27494472</integer>
	<key>👏</key>
	<integer>76522097</integer>
	<key>👐</key>
	<integer>15698633</integer>
	<key>👑</key>
	<integer>33949890</integer>
	<key>👒</key>
	<integer>744506</integer>
	<key>👓</key>
	<integer>2386272</integer>
	<key>👔</key>
	<integer>973653</integer>
	<key>👕</key>
	<integer>859721</integer>
	<key>👖</key>
	<integer>1055708</integer>
	<key>👗</key>
	<integer>1746657</integer>
	<key>👘</key>
	<integer>473764</integer>
	<key>👙</key>
	<integer>2784179</integer>
	<key>👚</key>
	<integer>401771</integer>
	<key>👛</key>
	<integer>635199</integer>
	<key>👜</key>
	<integer>760789</integer>
	<key>👝</key>
	<integer>195197</integer>
	<key>👞</key>
	<integer>740429</integer>
	<key>👟</key>
	<integer>2270759</integer>
	<key>👠</key>
	<integer>3209205</integer>
	<key>👡</key>
	<integer>524910</integer>
	<key>👢</key>
	<integer>549380</integer>
	<key>👣</key>
	<integer>5212952</integer>
	<key>👤</key>
	<integer>1302178</integer>
	<key>👥</key>
	<integer>1158034</integer>
	<key>👦</key>
	<integer>2768508</integer>
	<key>👧</key>
	<integer>3197412</integer>
	<key>👨</key>
	<integer>3572749</integer>
	<key>👩</key>
	<integer>3162916</integer>
	<key>👪</key>
	<integer>3122994</integer>
	<key>👫</key>
	<integer>10614916</integer>
	<key>👬</key>
	<integer>2319478</integer>
	<key>👭</key>
	<integer>9057629</integer>
	<key>👮</key>
	<integer>1442240</integer>
	<key>👯</key>
	<integer>13860462</integer>
	<key>👰</key>
	<integer>1923970</integer>
	<key>👱</key>
	<integer>1333289</integer>
	<key>👲</key>
	<integer>1324213</integer>
	<key>👳</key>
	<integer>2183812</integer>
	<key>👴</key>
	<integer>1821438</integer>
	<key>👵</key>
	<integer>2444788</integer>
	<key>👶</key>
	<integer>5359121</integer>
	<key>👷</key>
	<integer>766328</integer>
	<key>👸</key>
	<integer>8528866</integer>
	<key>👹</key>
	<integer>3491770</integer>
	<key>👺</key>
	<integer>1307082</integer>
	<key>👻</key>
	<integer>13197139</integer>
	<key>👼</key>
	<integer>14639062</integer>
	<key>👽</key>
	<integer>14902126</integer>
	<key>👾</key>
	<integer>5267050</integer>
	<key>👿</key>
	<integer>6857549</integer>
	<key>💀</key>
	<integer>42936085</integer>
	<key>💁</key>
	<integer>91497632</integer>
	<key>💂</key>
	<integer>3656649</integer>
	<key>💃</key>
	<integer>27041907</integer>
	<key>💄</key>
	<integer>3392302</integer>
	<key>💅</key>
	<integer>14753419</integer>
	<key>💆</key>
	<integer>8485288</integer>
	<key>💇</key>
	<integer>2998428</integer>
	<key>💈</key>
	<integer>668897</integer>
	<key>💉</key>
	<integer>4261939</integer>
	<key>💊</key>
	<integer>4163759</integer>
	<key>💋</key>
	<integer>65561607</integer>
	<key>💌</key>
	<integer>7998583</integer>
	<key>💍</key>
	<integer>9729849</integer>
	<key>💎</key>
	<integer>20545340</integer>
	<key>💏</key>
	<integer>9408563</integer>
	<key>💐</key>
	<integer>10123401</integer>
	<key>💑</key>
	<integer>6692285</integer>
	<key>💒</key>
	<integer>1277326</integer>
	<key>💓</key>
	<integer>34967876</integer>
	<key>💔</key>
	<integer>85538653</integer>
	<key>💕</key>
	<integer>279852048</integer>
	<key>💖</key>
	<integer>90588859</integer>
	<key>💗</key>
	<integer>69840900</integer>
	<key>💘</key>
	<integer>73084893</integer>
	<key>💙</key>
	<integer>83731166</integer>
	<key>💚</key>
	<integer>38917984</integer>
	<key>💛</key>
	<integer>42846467</integer>
	<key>💜</key>
	<integer>94059004</integer>
	<key>💝</key>
	<integer>11750809</integer>
	<key>💞</key>
	<integer>70347885</integer>
	<key>💟</key>
	<integer>12215239</integer>
	<key>💠</key>
	<integer>1006339</integer>
	<key>💡</key>
	<integer>2408117</integer>
	<key>💢</key>
	<integer>6752084</integer>
	<key>💣</key>
	<integer>7036762</integer>
	<key>💤</key>
	<integer>17206633</integer>
	<key>💥</key>
	<integer>22929887</integer>
	<key>💦</key>
	<integer>17510244</integer>
	<key>💧</key>
	<integer>2958399</integer>
	<key>💨</key>
	<integer>8732192</integer>
	<key>💩</key>
	<integer>20743027</integer>
	<key>💪</key>
	<integer>46752155</integer>
	<key>💫</key>
	<integer>24285679</integer>
	<key>💬</key>
	<integer>6461369</integer>
	<key>💭</key>
	<integer>19677187</integer>
	<key>💮</key>
	<integer>973411</integer>
	<key>💯</key>
	<integer>90789200</integer>
	<key>💰</key>
	<integer>10539271</integer>
	<key>💱</key>
	<integer>167136</integer>
	<key>💲</key>
	<integer>1008546</integer>
	<key>💳</key>
	<integer>693936</integer>
	<key>💴</key>
	<integer>356475</integer>
	<key>💵</key>
	<integer>2969490</integer>
	<key>💶</key>
	<integer>397411</integer>
	<key>💷</key>
	<integer>522318</integer>
	<key>💸</key>
	<integer>8657015</integer>
	<key>💹</key>
	<integer>162762</integer>
	<key>💺</key>
	<integer>543363</integer>
	<key>💻</key>
	<integer>2859036</integer>
	<key>💼</key>
	<integer>503615</integer>
	<key>💽</key>
	<integer>471954</integer>
	<key>💾</key>
	<integer>162244</integer>
	<key>💿</key>
	<integer>4480928</integer>
	<key>📀</key>
	<integer>920906</integer>
	<key>📁</key>
	<integer>100077</integer>
	<key>📂</key>
	<integer>102662</integer>
	<key>📃</key>
	<integer>178554</integer>
	<key>📄</key>
	<integer>222158</integer>
	<key>📅</key>
	<integer>553150</integer>
	<key>📆</key>
	<integer>482652</integer>
	<key>📇</key>
	<integer>98379</integer>
	<key>📈</key>
	<integer>363696</integer>
	<key>📉</key>
	<integer>236846</integer>
	<key>📊</key>
	<integer>184271</integer>
	<key>📋</key>
	<integer>253406</integer>
	<key>📌</key>
	<integer>1092960</integer>
	<key>📍</key>
	<integer>1451186</integer>
	<key>📎</key>
	<integer>283124</integer>
	<key>📏</key>
	<integer>135646</integer>
	<key>📐</key>
	<integer>147893</integer>
	<key>📑</key>
	<integer>182694</integer>
	<key>📒</key>
	<integer>406334</integer>
	<key>📓</key>
	<integer>469634</integer>
	<key>📔</key>
	<integer>147964</integer>
	<key>📕</key>
	<integer>5173312</integer>
	<key>📖</key>
	<integer>2754976</integer>
	<key>📗</key>
	<integer>281004</integer>
	<key>📘</key>
	<integer>330020</integer>
	<key>📙</key>
	<integer>154926</integer>
	<key>📚</key>
	<integer>3340441</integer>
	<key>📛</key>
	<integer>985233</integer>
	<key>📜</key>
	<integer>250142</integer>
	<key>📝</key>
	<integer>3439520</integer>
	<key>📞</key>
	<integer>2663665</integer>
	<key>📟</key>
	<integer>132768</integer>
	<key>📠</key>
	<integer>170236</integer>
	<key>📡</key>
	<integer>366748</integer>
	<key>📢</key>
	<integer>3030175</integer>
	<key>📣</key>
	<integer>1471166</integer>
	<key>📤</key>
	<integer>98121</integer>
	<key>📥</key>
	<integer>252508</integer>
	<key>📦</key>
	<integer>564896</integer>
	<key>📧</key>
	<integer>255409</integer>
	<key>📨</key>
	<integer>135522</integer>
	<key>📩</key>
	<integer>683087</integer>
	<key>📪</key>
	<integer>79016</integer>
	<key>📫</key>
	<integer>108874</integer>
	<key>📬</key>
	<integer>257889</integer>
	<key>📭</key>
	<integer>59484</integer>
	<key>📮</key>
	<integer>275126</integer>
	<key>📯</key>
	<integer>129946</integer>
	<key>📰</key>
	<integer>431326</integer>
	<key>📱</key>
	<integer>5265616</integer>
	<key>📲</key>
	<integer>5039101</integer>
	<key>📳</key>
	<integer>214859</integer>
	<key>📴</key>
	<integer>653448</integer>
	<key>📵</key>
	<integer>247862</integer>
	<key>📶</key>
	<integer>424298</integer>
	<key>📷</key>
	<integer>33598298</integer>
	<key>📹</key>
	<integer>3214062</integer>
	<key>📺</key>
	<integer>3879157</integer>
	<key>📻</key>
	<integer>1064169</integer>
	<key>📼</key>
	<integer>343183</integer>
	<key>🔀</key>
	<integer>101074</integer>
	<key>🔁</key>
	<integer>1323760</integer>
	<key>🔂</key>
	<integer>248444</integer>
	<key>🔃</key>
	<integer>1324622</integer>
	<key>🔄</key>
	<integer>1225259</integer>
	<key>🔅</key>
	<integer>384824</integer>
	<key>🔆</key>
	<integer>1231438</integer>
	<key>🔇</key>
	<integer>322613</integer>
	<key>🔈</key>
	<integer>155748</integer>
	<key>🔉</key>
	<integer>154181</integer>
	<key>🔊</key>
	<integer>3364086</integer>
	<key>🔋</key>
	<integer>1874805</integer>
	<key>🔌</key>
	<integer>1392339</integer>
	<key>🔍</key>
	<integer>384430</integer>
	<key>🔎</key>
	<integer>387707</integer>
	<key>🔏</key>
	<integer>118289</integer>
	<key>🔐</key>
	<integer>2642237</integer>
	<key>🔑</key>
	<integer>2438335</integer>
	<key>🔒</key>
	<integer>1244543</integer>
	<key>🔓</key>
	<integer>962750</integer>
	<key>🔔</key>
	<integer>728748</integer>
	<key>🔕</key>
	<integer>352106</integer>
	<key>🔖</key>
	<integer>180807</integer>
	<key>🔗</key>
	<integer>1806551</integer>
	<key>🔘</key>
	<integer>1396576</integer>
	<key>🔙</key>
	<integer>2826444</integer>
	<key>🔚</key>
	<integer>490697</integer>
	<key>🔛</key>
	<integer>613174</integer>
	<key>🔜</key>
	<integer>1447754</integer>
	<key>🔝</key>
	<integer>5057527</integer>
	<key>🔞</key>
	<integer>15585169</integer>
	<key>🔟</key>
	<integer>467570</integer>
	<key>🔠</key>
	<integer>71789</integer>
	<key>🔡</key>
	<integer>55374</integer>
	<key>🔢</key>
	<integer>151153</integer>
	<key>🔣</key>
	<integer>62406</integer>
	<key>🔤</key>
	<integer>86557</integer>
	<key>🔥</key>
	<integer>51530826</integer>
	<key>🔦</key>
	<integer>494265</integer>
	<key>🔧</key>
	<integer>238953</integer>
	<key>🔨</key>
	<integer>1128070</integer>
	<key>🔩</key>
	<integer>295084</integer>
	<key>🔪</key>
	<integer>7593377</integer>
	<key>🔫</key>
	<integer>29615177</integer>
	<key>🔬</key>
	<integer>185573</integer>
	<key>🔭</key>
	<integer>318386</integer>
	<key>🔮</key>
	<integer>5296143</integer>
	<key>🔯</key>
	<integer>495219</integer>
	<key>🔰</key>
	<integer>672501</integer>
	<key>🔱</key>
	<integer>1482488</integer>
	<key>🔲</key>
	<integer>699477</integer>
	<key>🔳</key>
	<integer>355046</integer>
	<key>🔴</key>
	<integer>21162204</integer>
	<key>🔵</key>
	<integer>2427452</integer>
	<key>🔶</key>
	<integer>801172</integer>
	<key>🔷</key>
	<integer>841613</integer>
	<key>🔸</key>
	<integer>5758598</integer>
	<key>🔹</key>
	<integer>1920157</integer>
	<key>🔺</key>
	<integer>1001224</integer>
	<key>🔻</key>
	<integer>1153062</integer>
	<key>🔼</key>
	<integer>530827</integer>
	<key>🔽</key>
	<integer>294856</integer>
	<key>🕐</key>
	<integer>336498</integer>
	<key>🕑</key>
	<integer>320245</integer>
	<key>🕒</key>
	<integer>337749</integer>
	<key>🕓</key>
	<integer>237074</integer>
	<key>🕔</key>
	<integer>239107</integer>
	<key>🕕</key>
	<integer>353764</integer>
	<key>🕖</key>
	<integer>160649</integer>
	<key>🕗</key>
	<integer>187841</integer>
	<key>🕘</key>
	<integer>201138</integer>
	<key>🕙</key>
	<integer>204265</integer>
	<key>🕚</key>
	<integer>165952</integer>
	<key>🕛</key>
	<integer>409054</integer>
	<key>🕜</key>
	<integer>118212</integer>
	<key>🕝</key>
	<integer>91582</integer>
	<key>🕞</key>
	<integer>72034</integer>
	<key>🕟</key>
	<integer>77026</integer>
	<key>🕠</key>
	<integer>68132</integer>
	<key>🕡</key>
	<integer>51292</integer>
	<key>🕢</key>
	<integer>68544</integer>
	<key>🕣</key>
	<integer>56136</integer>
	<key>🕤</key>
	<integer>104585</integer>
	<key>🕥</key>
	<integer>84470</integer>
	<key>🕦</key>
	<integer>668872</integer>
	<key>🕧</key>
	<integer>90219</integer>
	<key>🗻</key>
	<integer>765798</integer>
	<key>🗼</key>
	<integer>635597</integer>
	<key>🗽</key>
	<integer>1001828</integer>
	<key>🗾</key>
	<integer>162922</integer>
	<key>🗿</key>
	<integer>1774796</integer>
	<key>😀</key>
	<integer>36639787</integer>
	<key>😁</key>
	<integer>207378263</integer>
	<key>😂</key>
	<integer>1136425630</integer>
	<key>😃</key>
	<integer>52249460</integer>
	<key>😄</key>
	<integer>95795976</integer>
	<key>😅</key>
	<integer>96051799</integer>
	<key>😆</key>
	<integer>41862643</integer>
	<key>😇</key>
	<integer>28369105</integer>
	<key>😈</key>
	<integer>56474172</integer>
	<key>😉</key>
	<integer>136328833</integer>
	<key>😊</key>
	<integer>343867917</integer>
	<key>😋</key>
	<integer>79510323</integer>
	<key>😌</key>
	<integer>125703790</integer>
	<key>😍</key>
	<integer>460352089</integer>
	<key>😎</key>
	<integer>109444124</integer>
	<key>😏</key>
	<integer>212570994</integer>
	<key>😐</key>
	<integer>77125430</integer>
	<key>😑</key>
	<integer>90972779</integer>
	<key>😒</key>
	<integer>359735069</integer>
	<key>😓</key>
	<integer>44125370</integer>
	<key>😔</key>
	<integer>224185792</integer>
	<key>😕</key>
	<integer>85401602</integer>
	<key>😖</key>
	<integer>31658344</integer>
	<key>😗</key>
	<integer>4544228</integer>
	<key>😘</key>
	<integer>284151466</integer>
	<key>😙</key>
	<integer>12278996</integer>
	<key>😚</key>
	<integer>33807784</integer>
	<key>😛</key>
	<integer>31068452</integer>
	<key>😜</key>
	<integer>82992122</integer>
	<key>😝</key>
	<integer>48396473</integer>
	<key>😞</key>
	<integer>81760786</integer>
	<key>😟</key>
	<integer>15348021</integer>
	<key>😠</key>
	<integer>29694620</integer>
	<key>😡</key>
	<integer>55818864</integer>
	<key>😢</key>
	<integer>104724602</integer>
	<key>😣</key>
	<integer>39212748</integer>
	<key>😤</key>
	<integer>45303194</integer>
	<key>😥</key>
	<integer>32801152</integer>
	<key>😦</key>
	<integer>6790398</integer>
	<key>😧</key>
	<integer>10691814</integer>
	<key>😨</key>
	<integer>15344421</integer>
	<key>😩</key>
	<integer>258349145</integer>
	<key>😪</key>
	<integer>72443123</integer>
	<key>😫</key>
	<integer>51507822</integer>
	<key>😬</key>
	<integer>27826844</integer>
	<key>😭</key>
	<integer>334057554</integer>
	<key>😮</key>
	<integer>9144862</integer>
	<key>😯</key>
	<integer>9330372</integer>
	<key>😰</key>
	<integer>19465960</integer>
	<key>😱</key>
	<integer>59518298</integer>
	<key>😲</key>
	<integer>9026133</integer>
	<key>😳</key>
	<integer>122843158</integer>
	<key>😴</key>
	<integer>95890432</integer>
	<key>😵</key>
	<integer>9940371</integer>
	<key>😶</key>
	<integer>25092469</integer>
	<key>😷</key>
	<integer>40080152</integer>
	<key>😸</key>
	<integer>5902933</integer>
	<key>😹</key>
	<integer>17073978</integer>
	<key>😺</key>
	<integer>4213458</integer>
	<key>😻</key>
	<integer>40661802</integer>
	<key>😼</key>
	<integer>5969640</integer>
	<key>😽</key>
	<integer>6546207</integer>
	<key>😾</key>
	<integer>3141315</integer>
	<key>😿</key>
	<integer>8564054</integer>
	<key>🙀</key>
	<integer>5247172</integer>
	<key>🙅</key>
	<integer>24549804</integer>
	<key>🙆</key>
	<integer>19746842</integer>
	<key>🙇</key>
	<integer>14921296</integer>
	<key>🙈</key>
	<integer>114311686</integer>
	<key>🙉</key>
	<integer>9122806</integer>
	<key>🙊</key>
	<integer>69210594</integer>
	<key>🙋</key>
	<integer>29186449</integer>
	<key>🙌</key>
	<integer>122435977</integer>
	<key>🙍</key>
	<integer>8664724</integer>
	<key>🙎</key>
	<integer>2823044</integer>
	<key>🙏</key>
	<integer>138323532</integer>
	<key>🚀</key>
	<integer>7011734</integer>
	<key>🚁</key>
	<integer>470668</integer>
	<key>🚂</key>
	<integer>802941</integer>
	<key>🚃</key>
	<integer>333764</integer>
	<key>🚄</key>
	<integer>276101</integer>
	<key>🚅</key>
	<integer>204601</integer>
	<key>🚆</key>
	<integer>135824</integer>
	<key>🚇</key>
	<integer>269311</integer>
	<key>🚈</key>
	<integer>103527</integer>
	<key>🚉</key>
	<integer>242614</integer>
	<key>🚊</key>
	<integer>215479</integer>
	<key>🚋</key>
	<integer>126133</integer>
	<key>🚌</key>
	<integer>852487</integer>
	<key>🚍</key>
	<integer>483246</integer>
	<key>🚎</key>
	<integer>143039</integer>
	<key>🚏</key>
	<integer>106628</integer>
	<key>🚐</key>
	<integer>197396</integer>
	<key>🚑</key>
	<integer>541543</integer>
	<key>🚒</key>
	<integer>519958</integer>
	<key>🚓</key>
	<integer>594604</integer>
	<key>🚔</key>
	<integer>852270</integer>
	<key>🚕</key>
	<integer>483585</integer>
	<key>🚖</key>
	<integer>605436</integer>
	<key>🚗</key>
	<integer>4346805</integer>
	<key>🚘</key>
	<integer>2569848</integer>
	<key>🚙</key>
	<integer>1502076</integer>
	<key>🚚</key>
	<integer>337718</integer>
	<key>🚛</key>
	<integer>219707</integer>
	<key>🚜</key>
	<integer>266309</integer>
	<key>🚝</key>
	<integer>88353</integer>
	<key>🚞</key>
	<integer>72759</integer>
	<key>🚟</key>
	<integer>35715</integer>
	<key>🚠</key>
	<integer>44700</integer>
	<key>🚡</key>
	<integer>56727</integer>
	<key>🚢</key>
	<integer>613411</integer>
	<key>🚣</key>
	<integer>804589</integer>
	<key>🚤</key>
	<integer>364659</integer>
	<key>🚥</key>
	<integer>196545</integer>
	<key>🚦</key>
	<integer>3674840</integer>
	<key>🚧</key>
	<integer>389960</integer>
	<key>🚨</key>
	<integer>4449336</integer>
	<key>🚩</key>
	<integer>1245270</integer>
	<key>🚪</key>
	<integer>840757</integer>
	<key>🚫</key>
	<integer>3864600</integer>
	<key>🚬</key>
	<integer>5069323</integer>
	<key>🚭</key>
	<integer>263417</integer>
	<key>🚮</key>
	<integer>3492938</integer>
	<key>🚯</key>
	<integer>64573</integer>
	<key>🚰</key>
	<integer>103846</integer>
	<key>🚱</key>
	<integer>37175</integer>
	<key>🚲</key>
	<integer>1374260</integer>
	<key>🚳</key>
	<integer>33337</integer>
	<key>🚴</key>
	<integer>686519</integer>
	<key>🚵</key>
	<integer>182900</integer>
	<key>🚶</key>
	<real>18464488</real>
	<key>🚷</key>
	<integer>208213</integer>
	<key>🚸</key>
	<integer>136375</integer>
	<key>🚹</key>
	<integer>498734</integer>
	<key>🚺</key>
	<integer>943570</integer>
	<key>🚻</key>
	<integer>148446</integer>
	<key>🚼</key>
	<integer>2014221</integer>
	<key>🚽</key>
	<integer>738652</integer>
	<key>🚾</key>
	<integer>298824</integer>
	<key>🚿</key>
	<integer>1985574</integer>
	<key>🛀</key>
	<integer>1214393</integer>
	<key>🛁</key>
	<integer>239236</integer>
	<key>🛂</key>
	<integer>40602</integer>
	<key>🛃</key>
	<integer>266157</integer>
	<key>🛄</key>
	<integer>31445</integer>
	<key>🛅</key>
	<integer>3458979</integer>
</dict>
</plist>
